<h1>Here are all the products</h1>
<% @products.each do |product| %>
  <h1>name: <%= product.name %></h1>
  <p>price: <%= product.price %></p>
  <p>description: <%= product.description %></p>
<% end %>

