<h3>create a new product</h3>
 <form action="/products" method="post">
  <p>enter the product name<input type="text" name="name"></p>
  <p>enter the product price<input type="text" name="price"></p>
  <input type="submit">
</form>